<%= currently_at('New Question')%>
<div class="new-question">
  <h1 class="new-question__title title">Ask me a Question</h1>
  <div class="question-show__form">
    <%= render 'form' %>
  </div>
  
</div>
