<% provide :title, 'Update your information'%>
<%= currently_at('Update your information')%>
<div class="update-information">
  <h1 class="update-information__title title">Edit Data</h1>
  <div class="update-information__form">
    <%= render 'form' %>
  </div>
</div>