<% provide :title, 'Registration'%>
<%= currently_at('Sign Up')%>
<div class="registration">
  <h1 class="registration__title title">Registration</h1>
  <div class="registration__form">
    <%= render 'form' %>
  </div>
</div>