.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #74ca80;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  position: relative;
  padding: 40px 20px;
  z-index: 5;
  &__title {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__link {
    color: rgba(0, 0, 0, 0.658);
    transition: all 0.2s ease 0s;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    &:hover {
      color: #000;
    }
  }
}
